@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h4 class="display-4">Welcome To my asp.NET WorkactivityApp</h4>
    <p>This is a personal project i made.</p>
    <a class="nav-link" asp-area="" asp-controller="Project" asp-action="Index">Go to Projectmanagement</a>
</div>
